<div class="row align-middle">
    <span class="col-lg-8 mt-2 fs-4">
        &emsp;&emsp;艾格生科技係由母公司台灣光罩股份有限公司挹注產業多元資源，結合關係企業行銷網絡，成為第一家整合產業界、學界及醫界專業技術之貴重金屬鍍膜新創公司。本公司團隊招攬了半導體、材料、電子、機構、生醫、微機電等各方面專業人才，不斷強化研發能力及製造品質，厚植鍍膜核心技術以及生產製造實務經驗。持續秉持為客戶生產高品質產品精神，聚焦專業鍍膜新興應用技術，提供整合光、機、電高端產品之高性價比解決方案，以專業全方位協助客戶，滿足客戶需求與服務。
    </span>
    <div class="col-lg-4 border text-center align-self-center">
        <img src="{{BaseUri}}images/profile.jpg" style="object-fit: contain; width: 100%; height: 100%;" class="m-2" />
        <br />
        <span>艾格生科技股份有限公司</span>
    </div>
</div>