<div class="fs-5">
    <div class="row">
        <div class="col-lg-8 mt-2">
            Metal/Insulation-substrate/Metal三層構造設計係為處理高功率雷射晶片散熱問題的解決方案，同時具備良好的導熱性和絕緣性。通過控制金屬層與基板厚度配比，可使整體散熱基板與雷射晶片的熱膨脹係數相匹配，進而確保雷射晶片高功率表現及良好壽命週期。利用薄膜製程與黃光微影等技術，將其表面作金屬化加工製作成線路。陶瓷基板本身即具有高絕緣、高熱導及穩定的物理特性，結合了薄膜製程使產品線路附著性佳、表面平整度高、及對位精準等優點，使產品應用更為廣泛。
        </div>
        <div class="col-lg-4 mt-2">
            <img src="{{BaseUri}}images/product/20210507152909_96471.jpg" style="width: 60%" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <img src="{{BaseUri}}images/product/187413_0.jpg" style="width: 500px; max-width: 100%; margin-left: -50px; margin-right: -50px;" alt="" />
            <img src="{{BaseUri}}images/product/187414_0.jpg" style="width: 500px; max-width: 100%; margin-left: -50px; margin-right: -50px;" alt="" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg p-3">
            <h3 class="fw-bold">特點</h3>
            <p>
                ◆ 採用具備高散熱係數和高絕緣性基板進行金屬鍵合製程
            </p>
            <p>
                ◆ 可調配金屬層與基板厚度的最佳配比，適用於多種雷射晶片的熱膨脹係數(CTE)需求
            </p>
            <p>
                ◆ 在雷射晶片貼片區域的邊際(critical edge)不需要留有焊錫空間(pullback)，適用於P側向下型雷射晶片
            </p>
            <p>
                ◆ 可提供焊料各類客製化圖形設計
            </p>
            <p>
                ◆ 可提供銳利的金屬邊緣，適用於雷射晶片貼片時高精度的對位需求(邊角的R在20μm以下)
            </p>
            <p class="mt-2">
                ◆ 基板可選擇材料： Al2O3、AlN, SiC …. 等高散熱基板
            </p>
            <p class="mt-2">
                ◆ 金屬可選擇材料： Ti、Cu、Ni、Au、Pt、Pd、AuSn…
            </p>
        </div>
        <div class="col-lg p-3">
            <h3 class="fw-bold">應用領域</h3>
            <p class="fw-bold mt-2 mb-0">工業</p>
            <p>
                ◆ 焊接、切割、標籤刻印、表面處理
                ◆ 汽車工業無人工廠與雷射機器人
            </p>
            <p class="fw-bold mt-2 mb-0">醫療</p>
            <p>
                ◆ 眼科雷射、美容雷射、內視鏡
            </p>
            <p class="fw-bold mt-2 mb-0">半導體</p>
            <p>
                ◆ 功率半導體設備、退火處理
            </p>
        </div>
    </div>
</div>
