<div class="fs-5">
    <div class="row">
        <div class="col-lg-8 mt-2">
            Metal/Insulation-substrate/Metal三層構造設計係為處理高功率雷射晶片散熱問題的解決方案，同時具備良好的導熱性和絕緣性。通過控制金屬層與基板厚度配比，可使整體散熱基板與雷射晶片的熱膨脹係數相匹配，進而確保雷射晶片高功率表現及良好壽命週期。利用薄膜製程與黃光微影等技術，將其表面作金屬化加工製作成線路。陶瓷基板本身即具有高絕緣、高熱導及穩定的物理特性，結合了薄膜製程使產品線路附著性佳、表面平整度高、及對位精準等優點，使產品應用更為廣泛。
        </div>
    </div>
    <div class="row">
        <div class="col-lg p-3">
            <h3 class="fw-bold">特點</h3>
            <p>
                ◆ 採用具備高散熱係數和耐高壓絕緣基板，進行金屬鍵合製程
            </p>
            <p>
                ◆ 可調配金屬層與基板厚度的最佳配比，適用於多種功率元件的熱膨脹係數(CTE)需求
            </p>
            <p>
                ◆ 可提供焊料各類客製化圖形設計
            </p>
            <p>
                ◆ 基板可選擇材料： Al2O3、ZTA、AlN、SiNx…
            </p>
            <p>
                ◆ 金屬可選擇材料： Ti、Cu、Ni、Au、Pt、Pd、AuSn
            </p>
        </div>
        <div class="col-lg p-3">
            <h3 class="fw-bold">應用領域</h3>
            <p>
                ◆ 消費性產品：變頻空調/冰箱等
            </p>
            <p>
                ◆ 工業級能源轉換系統：高壓電塔等
            </p>
            <p>
                ◆ 車用電子：電動汽機車等
            </p>
        </div>
    </div>
</div>