<div class="row">
    <div class="col-lg-4 my-3">
        <h3 class="fs-5 text-center fw-bold">舒适的工作环境，激发多元创意</h3>
        <img src="images/joinUs/JoinUs1.webp" style="width: 100%;" alt="join us image" />
        <p>
            在艾格生我们拥有高品质舒适的工作环境，并营造和谐的办公氛围，激发多元的创意与想法。
        </p>
    </div>
    <div class="col-lg-4 my-3">
        <h3 class="fs-5 text-center fw-bold">集团用餐环境</h3>
        <img src="images/joinUs/JoinUs2.webp" style="width: 100%;" alt="join us image" />
        <p>
            提供員工用餐、交流的場地，讓員工佇足休息，充飽電再出發！
        </p>
    </div>
    <div class="col-lg-4 my-3">
        <h3 class="fs-5 text-center fw-bold">集团咖啡厅</h3>
            <img src="images/joinUs/JoinUs3.webp" style="width: 100%;" alt="join us image" />
            <p>
                随时来一杯，满足员工身心灵的升华。
            </p>
    </div>
    <div class="col-lg-4 my-3">
        <h3 class="fs-5 text-center fw-bold">集團休閒運動</h3>
        <img src="images/joinUs/JoinUs4.webp" style="width: 100%;" alt="join us image" />
        <p>
            让员工于工作之余纾解压力、增进活力并促进员工间互动。
        </p>
    </div>
    <div class="col-lg-4 my-3">
        <h3 class="fs-5 text-center fw-bold">追求工作与生活平衡，促进身心健康愉快</h3>
        <img src="images/joinUs/JoinUs5.webp" style="width: 100%;" alt="join us image" />
        <p>
            集团举办多元的活动供员工参与，放松身心之余，亦可凝聚向心力。 并借此培养部门间之默契，促进团体合作、创造企业竞争力。
        </p>
    </div>
    <div class="col-lg-4 my-3">
        <h3 class="fs-5 text-center fw-bold">岁末联欢晚会</h3>
        <img src="images/joinUs/JoinUs6.webp" style="width: 100%;" alt="join us image" />
        <p>
            每年犒赏员工辛勤付出。
        </p>
    </div>
</div>