<div class="row">
    <div class="col-lg-4 my-3">
        <h3 class="fs-5 text-center fw-bold">舒適的工作環境，激發多元創意</h3>
        <img src="images/joinUs/JoinUs1.webp" style="width: 100%;" alt="join us image" />
        <p>
            在艾格生我們擁有高品質舒適的工作環境，並營造和諧的辦公氛圍，激發多元的創意與想法。
        </p>
    </div>
    <div class="col-lg-4 my-3">
        <h3 class="fs-5 text-center fw-bold">集團用餐環境</h3>
        <img src="images/joinUs/JoinUs2.webp" style="width: 100%;" alt="join us image" />
        <p>
            提供員工用餐、交流的場地，讓員工佇足休息，充飽電再出發！
        </p>
    </div>
    <div class="col-lg-4 my-3">
        <h3 class="fs-5 text-center fw-bold">集團咖啡廳</h3>
        <img src="images/joinUs/JoinUs3.webp" style="width: 100%;" alt="join us image" />
        <p>
            隨時來一杯，滿足員工身心靈的昇華。
        </p>
    </div>
    <div class="col-lg-4 my-3">
        <h3 class="fs-5 text-center fw-bold">集團休閒運動</h3>
        <img src="images/joinUs/JoinUs4.webp" style="width: 100%;" alt="join us image" />
        <p>
            讓員工於工作之餘紓解壓力、增進活力並促進員工間互動。
        </p>
    </div>
    <div class="col-lg-4 my-3">
        <h3 class="fs-5 text-center fw-bold">追求工作與生活平衡，促進身心健康愉快</h3>
        <img src="images/joinUs/JoinUs5.webp" style="width: 100%;" alt="join us image" />
        <p>
            集團舉辦多元的活動供員工參與，放鬆身心之餘，亦可凝聚向心力。並藉此培養部門間之默契，促進團體合作、創造企業競爭力。
        </p>
    </div>
    <div class="col-lg-4 my-3">
        <h3 class="fs-5 text-center fw-bold">歲末聯歡晚會</h3>
        <img src="images/joinUs/JoinUs6.webp" style="width: 100%;" alt="join us image" />
        <p>
            每年犒賞員工辛勤付出。
        </p>
    </div>
</div>