<div class="row">
    <div id="benefit " class="col-lg">
        <h3 class="fs-3 fw-bolder text-success">薪酬獎金</h3>
        <ul class="fs-5 mt-2">
            <li>獎金：基本年薪12個月+獎金2個月。</li>
            <li>生日禮金：生日禮券。</li>
            <li>獎勵獎金：員工依特殊貢獻、表現優異等貢獻程度發給。</li>
        </ul>
        <h3 class="fs-3 fw-bolder text-success">工作之餘不忘了休息</h3>
        <ul class="fs-5 mt-2">
            <li>優於勞基法給假，新進人員到職即享有。</li>
        </ul>
        <h3 class="fs-3 fw-bolder text-success">知識提升，持續進步</h3>
        <ul class="fs-5 mt-2">
            <li>新進人員職前訓練。</li>
            <li>專業技術訓練。</li>
            <li>證照認證課程訓練。</li>
        </ul>
        <h3 class="fs-3 fw-bolder text-success">認真工作，放心生活</h3>
        <ul class="fs-5 mt-2">
            <li>每年辦理尾牙抽獎，犒賞同仁之辛勞。</li>
            <li>落實推動員工健康管理，每年定期辦理免費員工健檢。</li>
            <li>提供廠醫臨廠服務，疾病諮詢、健檢異常、預防保健等服務。</li>
            <li>營養美味午餐：提供免費營養午餐，輕鬆享受午休美好時光。</li>
            <li>結喪喜慶、生育、住院、生日津貼補助，你與家人就是我們的家人。</li>
        </ul>
    </div>
    <div class="col-lg border text-center align-self-center">
        <img src="images/profile.webp" style="max-width: 100%" alt="join us image" />
    </div>
</div>
<div class="fs-6 text-center my-3">※以上為福利制度簡述，個別員工之薪資福利事項悉依聘僱合約書及公司福利制度辦理。嗣後如有調整、修正者，以調整、修正後之規定為準。</div>