@page "/"
@inherits IndexBase

<div class="container swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="Images/banner1.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="Images/banner2.jpg" />
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>