<div class="row">
    <div class="col-lg-8 mt-2 fs-4">
        <p class="mt-2 mb-0 indent-2">
            艾格生科技係由母公司台湾光罩股份有限公司挹注产业多元资源，结合关係企业行销网络，成为第一家整合产业界、学界专业技术之贵重金属镀膜新创公司。
        </p>
        <p class="mt-2 mb-0 indent-2">
            本公司团队招揽了半导体、材料、电子、机构、微机电等各方面专业人才，不断强化研发能力及製造品质，厚植镀膜核心技术以及生产製造实务经验。
        </p>
        <p class="mt-2 mb-0 indent-2">
            持续秉持为客户生产高品质产品精神，聚焦专业镀膜新兴应用技术，提供整合光、机、电高端产品之高性价比解决方案，以专业全方位协助客户，满足客户需求与服务。
        </p>
        <div class="row">
            <div class="col-lg p-4">
                <p class="mb-2 fw-bold" style="font-size: 3rem;">1000</p>
                <p class="fs-5">半导体1000 等级无尘室</p>
            </div>
            <div class="col-lg p-4">
                <p class="mb-2 fw-bold" style="font-size: 3rem;">50</p>
                <p class="fs-5">佔全公司23.3%的研发与工程人员, 投注技术的开发与改良</p>
            </div>
            <div class="col-lg p-4">
                <p class="mb-2 fw-bold" style="font-size: 3rem;">19</p>
                <p class="fs-5">公司累计申请并已授权之专利超过19项</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 border text-center align-self-center">
        <img src="/images/profile.webp" style="object-fit: contain; width: 100%; height: 100%;" class="m-2" alt="Xsense" />
        <br />
        <span>艾格生科技股份有限公司</span>
    </div>
</div>