<div class="row">
    <div class="col-lg-8" style="padding: 20px 0 0 4vw">
        <p class="mt-1 mb-0 fw-bolder" style="font-size: 54pt; color: mediumpurple">
            Be Cool & Gold
        </p>
        <p class="mt-1 mb-0 fw-bold" style="font-size: 54pt; color: orange">
            We will be someone
        </p>
        <p class="mt-4 mb-0" style="font-size: 18pt;">
            经由不断的创新与淬鍊, 我们已再次蜕变并跳跃式地成长,
            <br />
            将从晶圆级贵金属镀膜服务厂, 跨入雷射系统应用及第三代半导体.

        </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/about/vision.png" style="width: 100%" />
    </div>
</div>