<div class="row">
    <div class="col-lg-8" style="padding: 20px 0 0 4vw">
        <p class="mt-1 mb-0 fw-bolder" style="font-size: 54pt; color: mediumpurple">
            Be Cool & Gold
        </p>
        <p class="mt-1 mb-0 fw-bold" style="font-size: 54pt; color: orange">
            We will be someone
        </p>
        <p class="mt-4 mb-0" style="font-size: 18pt;">
            經由不斷的創新與淬鍊, 我們已再次蛻變並跳躍式地成長,
            <br />
            將從晶圓級貴金屬鍍膜服務廠, 跨入雷射系統應用及第三代半導體.

        </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/about/vision.png" style="width: 100%" />
    </div>
</div>