<div class="fs-5">
    <p>◆ 111年12月推动ISO14001环境管理系统、45001职业安全卫生管理系统</p>
    <p>◆ 112年8月31日公告本公司环安卫管理政策:</p>
    <p>艾格生科技股份有限公司 (以下简称本公司)在「保护环境、重视安全卫生」之原则下，承诺达成环境安全卫生政策：</p>
    <p class="indent-2">◆ 遵守法规:遵守环安卫法规及其他要求事项，降低企业风险。</p>
    <p class="indent-2">◆ 消除危害:落实环安卫风险评估，提供安全健康的工作环境。</p>
    <p class="indent-2">◆ 全员参与:强化工作者谘商及参与，落实环安卫议题之沟通。</p>
    <p class="indent-2">◆ 持续改善:有效提升环安卫管理绩效，迈向企业永续责任。</p>
    <p>◆ 112年8月2日完成配合母公司台湾光罩进行温室气体盘查专案(合併报表子公司之碳排活动)</p>
    <p>◆ 113月1月底进行验证ISO14001环境管理系统、45001职业安全卫生管理系统</p>
</div>