<div class="fs-5">
    <div>
        <h4 class="fw-bolder my-3">◆ 採購政策</h4>
        <div>
            <p class="fw-bold m-0">1.原物料評估/導入</p>
            <p class="indent-1">確實執行原物料評估計畫，以確保導入之原物料符合需求。</p>
        </div>
        <div>
            <p class="fw-bold m-0">2.智慧財產/保密協議</p>
            <p class="indent-1">確保不侵權及不揭露商業協議為原則，建立互利互惠合作關係。</p>
        </div>
        <div>
            <p class="fw-bold m-0">3.道德廉潔/安全</p>
            <p class="indent-1 m-0">履行廉潔承諾，建立正向且良好合作關係。</p>
            <p class="indent-1">重視作業環境安全、防範職業災害之發生。</p>
        </div>
    </div>
    <div>
        <h4 class="fw-bold my-3">◆ 供應鏈管理/規範</h4>
        <div>
            <p class="fw-bold m-0">1.供應商稽核評比</p>
            <p class="indent-1">定期評比供應商，確保原物料之品質、交期、價格符合要求。</p>
        </div>
        <div>
            <p class="fw-bold m-0">2.符合環境/有害物質要求</p>
            <p class="indent-1">優先選擇符合ISO 14001認證且符合環境及有害物質管理的供應商。</p>
        </div>
    </div>
</div>