<div class="fs-5">
    <div>
        <h4 class="fw-bolder my-3">◆ 採购政策</h4>
        <div>
            <p class="fw-bold m-0">1.原物料评估/导入</p>
            <p class="indent-1">确实执行原物料评估计画，以确保导入之原物料符合需求。</p>
        </div>
        <div>
            <p class="fw-bold m-0">2.智慧财产/保密协议</p>
            <p class="indent-1">确保不侵权及不揭露商业协议为原则，建立互利互惠合作关係。</p>
        </div>
        <div>
            <p class="fw-bold m-0">3.道德廉洁/安全</p>
            <p class="indent-1 m-0">履行廉洁承诺，建立正向且良好合作关係。</p>
            <p class="indent-1">重视作业环境安全、防范职业灾害之发生。</p>
        </div>
    </div>
    <div>
        <h4 class="fw-bold my-3">◆ 供应链管理/规范</h4>
        <div>
            <p class="fw-bold m-0">1.供应商稽核评比</p>
            <p class="indent-1">定期评比供应商，确保原物料之品质、交期、价格符合要求。</p>
        </div>
        <div>
            <p class="fw-bold m-0">2.符合环境/有害物质要求</p>
            <p class="indent-1">优先选择符合ISO 14001认证且符合环境及有害物质管理的供应商。</p>
        </div>
    </div>
</div>