<div class="fs-5">
    <div class="row">
        <div class="col-lg-8 mt-2">
            <p>
                獨特金屬成膜技術搭配客製化材枓夾層、通孔及低介電損耗製作，可提供高頻、高速、低阻抗與良好元件壽命週期之訊息傳遞架構，以確保訊息穩定性及完整性。
            </p>
            <p>
                氮化鋁陶瓷電路版、使用薄膜技術製成，可運用在工業通訊等集成散熱電路屬用。
            </p>
        </div>
        <div class="col-lg-4 mt-2">
            <img src="/images/product/wafer1.webp" style="width: 60%" alt="wafer image" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg mt-2 p-3 pe-5">
            <h3 class="fw-bold text-success">特點</h3>
            <ul>
                <li>采用具备高频、高速、低阻抗、高散热系数和高绝缘基板进行金属键合制程</li>
                <li>可调配金属层与基板厚度的最佳配比，适用于多种高频元件的热膨胀系数(CTE)需求</li>
                <li>可提供客制化材枓夹层、通孔及低介电损耗基板制作</li>
                <li>可提供各种与系统阻抗匹配之薄膜电阻(TaXN)</li>
                <li>可提供焊料各类客制化图形设计</li>
                <li>基板可選擇材料： Al₂O₃、AlN</li>
                <li>金属可选择材料： Ti、Cu、Au、Pt、Pd、W、AuSn</li>
            </ul>
        </div>
        <div class="col-lg mt-2 p-3 ps-5">
            <h3 class="fw-bold text-success">應用領域</h3>
            <ul>
                <li>To-can封装元件</li>
                <li>Vcsel封裝元件</li>
                <li>高頻通訊產品：光收發模組(TOSA、ROSA)、5G基地台等</li>
            </ul>
        </div>
    </div>
</div>
