<div class="fs-5">
    <div class="row">
        <div class="col-lg-8 mt-2">
            <p>
                獨特金屬成膜技術搭配客製化材枓夾層、通孔及低介電損耗製作，可提供高頻、高速、低阻抗與良好元件壽命週期之訊息傳遞架構，以確保訊息穩定性及完整性。
            </p>
            <p>
                氮化鋁陶瓷電路版、使用薄膜技術製成，可運用在工業通訊等集成散熱電路屬用。
            </p>
        </div>
        <div class="col-lg-4 mt-2">
            <img src="/images/product/wafer1.png" style="width: 60%" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg mt-2 p-3 pe-5">
            <h3 class="fw-bold text-success">特點</h3>
            <p>◆ 採用具備高頻、高速、低阻抗、高散熱係數和高絕緣基板進行金屬鍵合製程</p>
            <p>◆ 可調配金屬層與基板厚度的最佳配比，適用於多種高頻元件的熱膨脹係數(CTE)需求</p>
            <p>◆ 可提供客製化材枓夾層、通孔及低介電損耗基板製作</p>
            <p>◆ 可提供各種與系統阻抗匹配之薄膜電阻(TaXN)</p>
            <p>◆ 可提供焊料各類客製化圖形設計</p>
            <p>◆ 基板可選擇材料： Al₂O₃、AlN</p>
            <p>◆ 金屬可選擇材料： Ti、Cu、Au、Pt、Pd、W、AuSn</p>
        </div>
        <div class="col-lg mt-2 p-3 ps-5">
            <h3 class="fw-bold text-success">應用領域</h3>
            <p>◆ To-can封裝元件</p>
            <p>◆ Vcsel封裝元件</p>
            <p>◆ 高頻通訊產品：光收發模組(TOSA、ROSA)、5G基地台等</p>
        </div>
    </div>
</div>
