<div class="fs-5">
    <div class="row">
        <div class="col-lg-8 mt-2">
            <p>
                Metal/Insulation-substrate/Metal三层构造设计係为处理高功率雷射晶片散热问题的解决方案，同时具备良好的导热性和绝缘性。
            </p>
            <p>
                通过控制金属层与基板厚度配比，可使整体散热基板与雷射晶片的热膨胀係数相匹配，进而确保雷射晶片高功率表现及良好寿命週期。
            </p>
            <p>
                利用薄膜製程与黄光微影等技术，将其表面作金属化加工製作成线路。
            </p>
            <p>
                陶瓷基板本身即具有高绝缘、高热导及稳定的物理特性，结合了薄膜製程使产品线路附着性佳、表面平整度高、及对位精准等优点，使产品应用更为广泛。
            </p>
        </div>
        <div class="col-lg-4 mt-2">
            <img src="/images/product/MetalEdge1.png" style="width: 60%" class="ms-5" alt="metal edge image" />
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg p-3 pe-5">
            <h3 class="fw-bold text-success">特点</h3>
            <ul>
                <li>採用具备高散热係数和高绝缘性基板进行金属键合製程</li>
                <li>可调配金属层与基板厚度的最佳配比，适用于多种雷射晶片的热膨胀係数(CTE)需求</li>
                <li>在雷射晶片贴片区域的边际(critical edge)不需要留有焊锡空间(pullback)，适用于P侧向下型雷射晶片</li>
                <li>可提供焊料各类客製化图形设计</li>
                <li>可提供锐利的金属边缘，适用于雷射晶片贴片时高精度的对位需求(边角的R在20μm以下)</li>
                <li>基板可选择材料： Al2O3、AlN, SiC …. 等高散热基板</li>
                <li>金属可选择材料： Ti、Cu、Ni、Au、Pt、Pd、AuSn…</li>
            </ul>
        </div>
        <div class="col-lg p-3 ps-5">
            <h3 class="fw-bold text-success">应用领域</h3>
            <p class="fw-bold mt-2 mb-0">工业</p>
            <ul>
                <li>焊接、切割、标籤刻印、表面处理</li>
                <li>汽车工业无人工厂与雷射机器人</li>
            </ul>
            <p class="fw-bold mt-2 mb-0">医疗</p>
            <ul>
                <li>眼科雷射、美容雷射、内视镜</li>
            </ul>
            <p class="fw-bold mt-2 mb-0">半导体</p>
            <ul>
                <li>功率半导体设备、退火处理</li>
            </ul>
        </div>
    </div>
</div>