<div class="fs-5">
    <div class="row">
        <div class="col-lg-7 mt-2">
            <p>
                Metal/Insulation-substrate/Metal三层构造设计係为处理功率元件散热问题的解决方案，同时具备良好的导热性和耐高压绝缘性等优点。
            </p>
            <p>
                透过独特金属成膜技术，可与各式基板匹配，提供更具调性的可解决方案及良好寿命週期。
            </p>
        </div>
        <div class="col-lg-4 mt-2">
            <img src="/images/product/PowerDevice7.png" style="width: 50%" alt="power device image" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg p-3 pe-5">
            <div class="col-lg p-3 pe-5">
                <h3 class="fw-bold text-success">特点</h3>
                <ul>
                    <li>採用具备高散热係数和耐高压绝缘基板，进行金属键合製程</li>
                    <li>可调配金属层与基板厚度的最佳配比，适用于多种雷射晶片的热膨胀係数(CTE)需求</li>
                    <li>可提供焊料各类客製化图形设计</li>
                    <li>基板可选择材料： Al2O3、ZTA、AlN、SiNx…</li>
                    <li>金属可选择材料： Ti、Cu、Ni、Au、Pt、Pd、AuSn</li>
                </ul>
            </div>
        </div>
        <div class="col-lg p-3 ps-5">
            <h3 class="fw-bold text-success">应用领域</h3>
            <ul>
                <li>消费性产品：变频空调/冰箱等</li>
                <li>工业级能源转换系统：高压电塔等</li>
                <li>车用电子：电动汽机车等</li>
            </ul>
        </div>
    </div>
</div>