<div class="fs-5">
    <div class="row">
        <div class="col-lg-7 mt-2">
            <p>
                Metal/Insulation-substrate/Metal三層構造設計係為處理功率元件散熱問題的解決方案，同時具備良好的導熱性和耐高壓絕緣性等優點。
            </p>
            <p>
                透過獨特金屬成膜技術，可與各式基板匹配，提供更具調性的可解決方案及良好壽命週期。
            </p>
        </div>
        <div class="col-lg-4 mt-2">
            <img src="/images/product/PowerDevice1.webp" style="width: 50%" alt="power device image" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg p-3 pe-5">
            <div class="col-lg p-3 pe-5">
                <h3 class="fw-bold text-success">特點</h3>
                <ul>
                    <li>採用具備高散熱係數和耐高壓絕緣基板，進行金屬鍵合製程</li>
                    <li>可調配金屬層與基板厚度的最佳配比，適用於多種功率元件的熱膨脹係數(CTE)需求</li>
                    <li>可提供焊料各類客製化圖形設計</li>
                    <li>基板可選擇材料： Al2O3、ZTA、AlN、SiNx…</li>
                    <li>金屬可選擇材料： Ti、Cu、Ni、Au、Pt、Pd、AuSn</li>
                </ul>
            </div>
        </div>
        <div class="col-lg p-3 ps-5">
            <h3 class="fw-bold text-success">應用領域</h3>
            <ul>
                <li>消費性產品：變頻空調/冰箱等</li>
                <li>工業級能源轉換系統：高壓電塔等</li>
                <li>車用電子：電動汽機車等</li>
            </ul>
        </div>
    </div>
</div>