@font-face {
    font-family: "GenSenRounded-B";
    src: url("../fonts/GenSenRounded/GenSenRounded-B.ttc") format(collection);
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "GenSenRounded-R";
    src: url("../fonts/GenSenRounded/GenSenRounded-R.ttc") format(collection);
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}