<div class="pe-5">
    <p class="m-0 indent-2 justify-content-around">
        感谢您光临艾格生科技股份有限公司网站，您的宝贵意见让我们持续成长。诚挚的欢迎您来信或来电洽询相关业务，我们将尽快提供您完整的服务，谢谢。
    </p>
    <div class="row pt-2">
        <div class="col-lg">
            <p class="m-0">姓名</p>
            <input type="text" class="form-control" />
        </div>
        <div class="col-lg">
            <p class="m-0">Email</p>
            <input type="text" class="form-control" />
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-lg">
            <p class="m-0">连络电话</p>
            <input type="text" class="form-control" />
        </div>
        <div class="col-lg">
            <p class="m-0">主旨</p>
            <select class="form-select">
                <option>产品问题</option>
                <option>技术问题</option>
                <option>行政问题</option>
                <option>其他问题</option>
            </select>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-lg">
            <p class="m-0">内容</p>
            <textarea type="text" class="form-control" style="height: 10em;" ></textarea>
        </div>
    </div>
    <div class="row pt-2">
        <div class="d-flex justify-content-end">
            <input type="button" class="form-control" style="width: max-content" value="送出" />
        </div>
    </div>
</div>