<div class="pe-5">
    <p class="m-0 indent-2 ">
        感謝您光臨艾格生科技股份有限公司網站，您的寶貴意見讓我們持續成長。誠摯的歡迎您來信或來電洽詢相關業務，我們將盡快提供您完整的服務，謝謝。
    </p>
    <div class="row pt-2">
        <div class="col-lg">
            <p class="m-0">姓名</p>
            <input type="text" class="form-control" />
        </div>
        <div class="col-lg">
            <p class="m-0">Email</p>
            <input type="text" class="form-control" />
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-lg">
            <p class="m-0">連絡電話</p>
            <input type="text" class="form-control" />
        </div>
        <div class="col-lg">
            <p class="m-0">主旨</p>
            <select class="form-select">
                <option>產品問題</option>
                <option>技術問題</option>
                <option>行政問題</option>
                <option>其他問題</option>
            </select>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-lg">
            <p class="m-0">內容</p>
            <textarea type="text" class="form-control" style="height: 10em;" ></textarea>
        </div>
    </div>
    <div class="row pt-2">
        <div class="d-flex justify-content-end">
            <input type="button" class="form-control" style="width: max-content" value="送出" />
        </div>
    </div>
</div>