<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <base href="/" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.js" defer></script>
    <script type="text/javascript" src="/js/bootstrap.js" defer></script>
    <script type="text/javascript" src="/js/scripts.js" defer></script>
    <script type="text/javascript" src="/js/swiper-bundle.min.js" defer></script>

    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/XsenseOfficial.styles.css" />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode=InteractiveServer />
    <script src="/_framework/blazor.web.js"></script>
</body>

</html>
