<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <HeadOutlet @rendermode=InteractiveServer />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.xsensetw.com/">
    <meta property="article:author" content="Corvus9312">

    <!-- google search auth -->
    <meta name="google-site-verification" content="EDomNGM5CVoAyn5eUra92pPhcE3Wzrm67xE-BPjbI0Y" />

    <base href="/" />

    <!-- js -->
    <script type="text/javascript" src="/js/bootstrap.min.js" defer></script>
    <script type="text/javascript" src="/js/scripts.js" defer></script>
    <script type="text/javascript" src="/js/lazysizes.min.js" async></script>
    <script src="/_framework/blazor.web.js" defer></script>

    <!-- css -->
    <link rel="stylesheet" href="/css/font.css" defer />
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" defer/>
    <link rel="stylesheet" href="/css/sidebar.css" defer />
    <link rel="stylesheet" href="/css/app.css" defer />
    <link rel="stylesheet" href="/XsenseOfficial.styles.css" defer />
</head>

<body>
    <Routes @rendermode=InteractiveServer />
</body>

</html>
