<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.xsensetw.com/">
    <meta property="article:author" content="Corvus9312">

    @* google search auth *@
    <meta name="google-site-verification" content="EDomNGM5CVoAyn5eUra92pPhcE3Wzrm67xE-BPjbI0Y" />

    <base href="/" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js" defer></script>
    <script type="text/javascript" src="/js/bootstrap.min.js" defer></script>
    <script type="text/javascript" src="/js/scripts.js" defer></script>
    <script type="text/javascript" src="/js/swiper-bundle.min.js" defer></script>
    <script src="/_framework/blazor.web.js"></script>

    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/XsenseOfficial.styles.css" />
    <HeadOutlet @rendermode=InteractiveServer />
</head>

<body>
    <Routes @rendermode=InteractiveServer />
</body>

</html>
