img {
    max-height: 100%;
    max-width: 100%;
}

.apply-list {
    position: relative;
    width: 100%;
}

    .apply-list li {
        float: left;
        width: 20vw;
        position: relative;
        overflow: hidden;
    }

.apply-title {
    position: absolute;
    color: white;
    font-size: 32px;
    font-weight: bold;
    bottom: 12vh;
    left: 10%;
}

.apply-more {
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    bottom: 2vh;
    right: 5%;
    padding-left: 50px;
}

    .apply-more::before {
        content: "";
        position: absolute;
        background: white;
        top: 50%;
        left: 0;
        width: 40px;
        height: 1px;
    }
