@page "/{Language}/index"
@inherits IndexBase

<PageTitle>@Localizer["公司名稱"]</PageTitle>
<HeadContent>
    <meta property="og:title" content="@Localizer["公司名稱"]" />
    <meta property="og:description" content="艾格生科技官方網站, Xsense Official" />
    <meta property="og:locale" content="@Language">
    <meta property="og:image" content="">
</HeadContent>

<article id="index" class="swiper mySwiper">
    <div class="swiper-wrapper">
        @foreach (var swiper in SwiperImgs)
        {
            <div class="swiper-slide">
                <img src=@swiper />
            </div>
        }
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</article>